{
    "usetrTabs": true,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "none",
    "singleAttributePerLine": false,
    "bracketSameLine": true,
    "parser": "typescript",
    "printWidth": 200
}